body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-image: url("/static/pics/stars2.jpg");
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
