body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-image: url("/static/pics/stars2.jpg");
}

.column {
  float: left;
  width: 25%;
  text-align: center;
  border-style: hidden;
  border-radius: 5px;
}

.inner {
  border-style: hidden;
  border-radius: 5px;
}

.container {
    border-style: none;
}

.below {
    margin-top: 4px;
}

.big {
    width: 70%;
}


img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-style: solid;
    border-radius: 50%;
    margin-bottom: 1%;
}

.left {
    text-align: left;
}

.checked {
    color: gold;
}

.fancy {
  position: relative;
  background-color: #FFC;
  padding: 0.5rem;
  text-align: center;
  max-width: 100%;
}

.fancy::before {
  content: "";

  position : absolute;
  z-index  : -1;
  bottom   : 15px;
  right    : 5px;
  width    : 50%;
  top      : 80%;
  max-width: 200px;

  box-shadow: 0px 13px 10px black;
  transform: rotate(4deg);
}

hr.style8 {
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}
hr.style8:after {
	content: '';
	display: block;
	margin-top: 2px;
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}